
{
  "swagger": "2.0",
  "info": {
    "title": "Insights v1.0",
    "version": "1.0"
  },
  "host": "api.linkfire.com",
  "basePath": "/insights",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "oauth2implicit flow": {
      "type": "oauth2",
      "scopes": {
        "public.api": ""
      },
      "flow": "implicit",
      "authorizationUrl": "https://auth.linkfire.com/identity/connect/authorize"
    }
  },
  "security": [
    {
      "oauth2implicit flow": [
        "public.api"
      ]
    }
  ],
  "paths": {
    "/boards/{boardId}": {
      "get": {
        "description": "Get funnel insight",
        "operationId": "boardinsights_getboardinsights",
        "summary": "BoardInsights_GetBoardInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse[BoardSummaryMetricsResponce]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/sliced": {
      "get": {
        "description": "Get funnel insight in time intervals",
        "operationId": "boardinsights_getboardgranularinsightsresponse",
        "summary": "BoardInsights_GetBoardGranularInsightsResponse",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "interval to segment result by",
            "type": "string",
            "enum": [
              "All",
              "FifteenMinute",
              "Hour",
              "Day",
              "Week",
              "Month"
            ]
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultipleResponse[GranularBoardMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/links": {
      "get": {
        "description": "Get  top campaign links insight",
        "operationId": "boardinsights_getlinksinsight",
        "summary": "BoardInsights_GetLinksInsight",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: Engagements, Sessions, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[LinkMetricsResponce]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/countries": {
      "get": {
        "description": "Get countries insight",
        "operationId": "boardinsights_getboardcountryinsights",
        "summary": "BoardInsights_GetBoardCountryInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountryMetricArray"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/cities": {
      "get": {
        "description": "Get cities insight",
        "operationId": "boardinsights_getboardcitiesinsights",
        "summary": "BoardInsights_GetBoardCitiesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CityMetricResponseArray"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/devices": {
      "get": {
        "description": "Get devices insight",
        "operationId": "boardinsights_getboarddevicesinsights",
        "summary": "BoardInsights_GetBoardDevicesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse[DeviceMetricModel]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/channels": {
      "get": {
        "description": "Get channels insight",
        "operationId": "boardinsights_getboardchannelsinsights",
        "summary": "BoardInsights_GetBoardChannelsInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[ChannelMetricResponce]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/activities": {
      "get": {
        "description": "Get activities insight",
        "operationId": "boardinsights_getboardactivitiesinsights",
        "summary": "BoardInsights_GetBoardActivitiesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[ActivityMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/assets": {
      "get": {
        "description": "Get assets insight",
        "operationId": "boardinsights_getboardassetsinsights",
        "summary": "BoardInsights_GetBoardAssetsInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[AssetsMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/services": {
      "get": {
        "description": "Get media services insight",
        "operationId": "boardinsights_getboardservicesinsights",
        "summary": "BoardInsights_GetBoardServicesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceType",
            "in": "query",
            "description": "Only get results for this media service type",
            "type": "string",
            "enum": [
              "Download",
              "Physical",
              "Streaming"
            ]
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[MediaServiceMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/referrers": {
      "get": {
        "description": "Get referrers insight",
        "operationId": "boardinsights_getlinkreferrerinsights",
        "summary": "BoardInsights_GetLinkReferrerInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[ReferrerMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/sales/tokens": {
      "get": {
        "description": "Get sales tokens insight",
        "operationId": "boardinsights_getboardsalestokensinsights",
        "summary": "BoardInsights_GetBoardSalesTokensInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ItemsSold, Earnings, Commission",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[SalesTokenMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/sales/products/summary": {
      "get": {
        "description": "Get product type insight",
        "operationId": "boardinsights_getboardproducttypesinsights",
        "summary": "BoardInsights_GetBoardProductTypesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultipleResponse[ProductTypeMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/sales": {
      "get": {
        "description": "Get sales insight",
        "operationId": "boardinsights_getboardsalesinsights",
        "summary": "BoardInsights_GetBoardSalesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse[SalesMetricResponce]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/sales/stores": {
      "get": {
        "description": "Get stores insight",
        "operationId": "boardinsights_getboardsalesstoresinsights",
        "summary": "BoardInsights_GetBoardSalesStoresInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "hasCommission",
            "in": "query",
            "description": "Only include results that have commission",
            "type": "boolean"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ItemsSold",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[StoreMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/sales/products": {
      "get": {
        "description": "Get products insight",
        "operationId": "boardinsights_getboardsalesproductsinsights",
        "summary": "BoardInsights_GetBoardSalesProductsInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ItemsSold, Earnings",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of insights to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[ProductMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/sales/summary/sliced": {
      "get": {
        "description": "Get sales insight in time intervals",
        "operationId": "boardinsights_getboardsalesslicedinsights",
        "summary": "BoardInsights_GetBoardSalesSlicedInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "interval to segment results by",
            "type": "string",
            "enum": [
              "All",
              "FifteenMinute",
              "Hour",
              "Day",
              "Week",
              "Month"
            ]
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultipleResponse[GranularSalesMetricResponce]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/uniqueVisitors": {
      "get": {
        "description": "Get unique visitors",
        "operationId": "boardinsights_getboarduniquevisitors",
        "summary": "BoardInsights_GetBoardUniqueVisitors",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights starting from this date (yyyy-mm-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get insights that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get insights that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get insights that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get insights that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get insights that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get insights that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get insights that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get insights until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse[BoardUniqueVisitorsMetricsResponce]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/links/{linkId}": {
      "get": {
        "description": "Get funnel insight",
        "operationId": "linkinsights_getlinkinsight",
        "summary": "LinkInsights_GetLinkInsight",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Format - uuid. Campaign link identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get results that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get results that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get results that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get results that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get results that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get results that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get results that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse[LinkSummaryMetricsResponce]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/links/{linkId}/sliced": {
      "get": {
        "description": "Get funnel insight in time intervals",
        "operationId": "linkinsights_getlinkgranularinsightsresponse",
        "summary": "LinkInsights_GetLinkGranularInsightsResponse",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Format - uuid. Campaign link identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "interval to segment results by",
            "type": "string",
            "enum": [
              "All",
              "FifteenMinute",
              "Hour",
              "Day",
              "Week",
              "Month"
            ]
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get results that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get results that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get results that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get results that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get results that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get results that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get results that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MultipleResponse[GranularLinkMetricResponse]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/links/{linkId}/countries": {
      "get": {
        "description": "Get countries insight",
        "operationId": "linkinsights_getlinkcountryinsights",
        "summary": "LinkInsights_GetLinkCountryInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Format - uuid. Campaign link identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get results that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get results that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get results that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get results that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get results that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get results that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get results that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of results to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountryMetricArray"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/links/{linkId}/cities": {
      "get": {
        "description": "Get cities insight",
        "operationId": "linkinsights_getlinkcitiesinsights",
        "summary": "LinkInsights_GetLinkCitiesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Format - uuid. Campaign link identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get results that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get results that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get results that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get results that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get results that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get results that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get results that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of results to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CityMetricResponseArray"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/links/{linkId}/devices": {
      "get": {
        "description": "Get devices insight",
        "operationId": "linkinsights_getlinkdevicesinsights",
        "summary": "LinkInsights_GetLinkDevicesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Format - uuid. Campaign link identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get results that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get results that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get results that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get results that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get results that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get results that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get results that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleResponse[DeviceMetricModel]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/links/{linkId}/channels": {
      "get": {
        "description": "Get channels insight",
        "operationId": "linkinsights_getlinkchannelsinsights",
        "summary": "LinkInsights_GetLinkChannelsInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Format - uuid. Campaign link identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get results that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get results that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get results that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get results that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get results that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get results that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get results that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results until this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results ascending by field. Prefix with \"-\" to sort descending. It is possible to sort on these fields: ClickThroughs, Visits",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. Page number to get. Default is 0 (first page)",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of results to get per page. Max 1000",
            "type": "integer"
          },
          {
            "name": "Api-Version",
            "in": "header",
            "description": "API version to use",
            "type": "string",
            "default": "v1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginationResponse[ChannelMetricResponce]"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/boards/{boardId}/links/{linkId}/activities": {
      "get": {
        "description": "Get activities insight",
        "operationId": "linkinsights_getlinkactivitiesinsights",
        "summary": "LinkInsights_GetLinkActivitiesInsights",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Format - uuid. Board identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Format - uuid. Campaign link identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Only get results that include these channel Ids. Prefix with \"-\" to exclude channel Id instead. It is possible to specify multiple channel Ids",
            "type": "string"
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Only get results that include these activities. Prefix with \"-\" to exclude activity instead. It is possible to specify multiple activities",
            "type": "string"
          },
          {
            "name": "referrers",
            "in": "query",
            "description": "Only get results that include these referrers. Prefix with \"-\" to exclude referrer instead. It is possible to specify multiple referrers",
            "type": "string"
          },
          {
            "name": "isoCodes",
            "in": "query",
            "description": "Only get results that include these iso codes. Prefix with \"-\" to exclude iso code instead. It is possible to specify multiple iso codes",
            "type": "string"
          },
          {
            "name": "MediaServiceNames",
            "in": "query",
            "description": "Only get results that include these media services. Prefix with \"-\" to exclude media service instead. It is possible to specify multiple media services",
            "type": "string"
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Only get results that include these device types. Prefix with \"-\" to exclude device type instead. It is possible to specify multiple device types",
            "type": "string"
          },
          {
            "name": "osGroups",
            "in": "query",
            "description": "Only get results that include these operating systems. Prefix with \"-\" to exclude operating system instead. It is possible to specify multiple operating systems",
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Only get results starting from this date (yyyy-mm-dd)",
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
[...]
